.tooltip-shortcut {
  background-color: #494343 !important;
  color: #ffffff !important;
  min-height: 22px !important;
  min-width: 22px !important;
}

.tooltip-shortcut-button {
  font-size: 1.1rem !important;
}

.tooltip-shortcut-card {
  margin-top: -5px !important;
}

.tooltip-shortcut-title {
  font-weight: bold !important;
}

.tooltip-shortcut-title::first-letter{
  text-transform: capitalize;
}
