.sidebar {
  z-index: 2 !important;
}

.sidebar-card {
  width: 280px !important;
  overflow: auto !important;
  background-color: #3f0f3f !important;
  margin-top: 32px !important;
}

.group-section {
  border-top: 0.8px solid rgba(255, 255, 255, 0.2);
  border-bottom: 0.8px solid rgba(255, 255, 255, 0.2);
}

.group-section-icon {
  position: absolute;
  left: 63px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.7rem !important;
}

/* LG - Desktop */
@media (min-width: 1905px) {
}

@media (max-width: 1904px) and (min-width: 1265px) {
}
/* MD - Large Tablet */
@media only screen and (max-width: 1264px) and (min-width: 961px) {
}

/* SM - Small Tablet */
@media (max-width: 960px) and (min-width: 601px) {
}

/* XS - Mobile */
@media (max-width: 600px) and (min-width: 385px) {
}

/* XS Smallerrr */
@media (max-width: 385px) {
}
