.sidebar {
  z-index: 2 !important;
}

.sidebar-card {
  width: 256px !important;
  overflow: auto !important;
  background-color: #3f0f3f !important;
  margin-top: 32px !important;
  border-radius: 0px !important;
}

.group-section {
  border-top: 0.8px solid rgba(255, 255, 255, 0.2);
  border-bottom: 0.8px solid rgba(255, 255, 255, 0.2);
}

.group-section-icon {
  position: absolute;
  left: 60px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.2rem !important;
}

.group-section-card {
  width: 290px;
  background-color: #f8f8f8 !important;
  padding: 5px 0px !important;
}

.group-name {
  background-color: #6e6d6d !important;
  border-radius: 5px;
  width: 40px;
  height: 40px;
}

.sidebar-button:hover {
  background-color: #4e1c4e !important;
}

.group-setting-button {
  position: absolute;
  left: 200px;
  background-color: #f8f8f8;
  border-radius: 30px;
}

.sidebar-browse {
  color: #d8d8d8 !important;
}

.sidebar-browse:hover {
  color: #fff !important;
}

.group-setting {
  height: 125px;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
}

.add-button {
  background-color: #5f255f !important;
  border-radius: 5px !important;
  padding: 2px !important;
}
/* LG - Desktop */
@media (min-width: 1905px) {
}

@media (max-width: 1904px) and (min-width: 1265px) {
}
/* MD - Large Tablet */
@media only screen and (max-width: 1264px) and (min-width: 961px) {
}

/* SM - Small Tablet */
@media (max-width: 960px) and (min-width: 601px) {
}

/* XS - Mobile */
@media (max-width: 600px) and (min-width: 385px) {
}

/* XS Smallerrr */
@media (max-width: 385px) {
}
