.message-date-button {
  border: 1px solid #d8d8d8 !important;
  border-radius: 20px !important;
  color: #212529 !important;
  font-size: 0.8rem !important;
  font-weight: bold !important;
}

.message-date-button:hover {
  background-color: transparent !important;
}

.message-date-card {
  width: 300px !important;
  padding: 5px 0px !important;
}

.calender-picker {
  margin-left: -15px !important;
}

.message-details {
  margin: 5px 10px !important;
}

.message-profile {
  background-color: #e4e2e2 !important;
  border-radius: 5px !important;
  padding: 0px !important;
}

.message-profile-card {
  margin: 3px 10px 0px !important;
}
